*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  width: 20px;
  height: 20px;
  background: #0015FF;
  margin: 7px;
  transform: rotate(45deg);
  animation: blink 1s linear infinite;
}

/*#box1{
  animation-delay: .2s;
}*/


#box2{
  animation-delay: .3s;
}


#box3{
  animation-delay: .4s;
}


@keyframes blink{
  from{
    opacity: 0.7;
  }
  to{
    opacity: 1;
    background: #999999;
  }
}
